.mediaViewInfo {
	--web-view-name: about;
	--web-view-id: about;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: about;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#about {
	position: absolute;
	width: 1920px;
	height: 1500px;
	background-color: rgba(244,244,244,1);
	overflow: hidden;
	--web-view-name: about;
	--web-view-id: about;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
#About_Me {
	left: 801px;
	top: 619.564px;
	position: absolute;
	overflow: visible;
	width: 318px;
	height: 84px;
	line-height: 108px;
	margin-top: -24px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#My_Introduction {
	left: 830px;
	top: 716.564px;
	position: absolute;
	overflow: visible;
	width: 234px;
	white-space: nowrap;
	line-height: 108px;
	margin-top: -39px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(127,139,175,1);
}
#Fun_Facts {
	left: 394px;
	top: 772.564px;
	position: absolute;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	line-height: 108px;
	margin-top: -39px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(127,139,175,1);
}
#What_I_Currently_Do {
	left: 393.75px;
	top: 1207.96px;
	position: absolute;
	overflow: visible;
	width: 228px;
	height: 83px;
	line-height: 40px;
	margin-top: -5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(127,139,175,1);
}
#Hobbies {
	left: 393.75px;
	top: 1033.762px;
	position: absolute;
	overflow: visible;
	width: 177px;
	height: 43px;
	line-height: 40px;
	margin-top: -5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(127,139,175,1);
}
#back_pics_c {
	position: absolute;
	width: 1577.741px;
	height: 505.003px;
	left: 172.135px;
	top: 1182.131px;
	display: none;
	overflow: visible;
}
#bloomberg_c {
	position: absolute;
	width: 544.562px;
	height: 440.053px;
	left: 0px;
	top: 32.16px;
	overflow: visible;
}
#dc_lincoln_c {
	position: absolute;
	width: 395.88px;
	height: 379.813px;
	left: 400.405px;
	top: 76.985px;
	overflow: visible;
}
#trevi_rome_c {
	position: absolute;
	width: 544.562px;
	height: 440.053px;
	left: 712.487px;
	top: 16.746px;
	overflow: visible;
}
#build_day_c {
	position: absolute;
	width: 426.176px;
	height: 504.373px;
	left: 1149.595px;
	top: 0px;
	overflow: visible;
}
#Born_and_raised_in_The_Bronx_N {
	left: 661.5px;
	top: 772.564px;
	position: absolute;
	overflow: visible;
	width: 866px;
	height: 237px;
	line-height: 48px;
	margin-top: -8px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#User_experience_research_Andro {
	left: 661.25px;
	top: 1207.96px;
	position: absolute;
	overflow: visible;
	width: 456px;
	white-space: nowrap;
	line-height: 48px;
	margin-top: -8px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Hiking_Aerial_yoga_Baking {
	left: 661.25px;
	top: 1033.762px;
	position: absolute;
	overflow: visible;
	width: 182px;
	white-space: nowrap;
	line-height: 48px;
	margin-top: -8px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Hosting_dinner_parties_Playing {
	left: 1094px;
	top: 1042.762px;
	position: absolute;
	overflow: visible;
	width: 353px;
	white-space: nowrap;
	line-height: 48px;
	margin-top: -8px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#front_pics {
	position: absolute;
	width: 1132.476px;
	height: 364.365px;
	left: 394px;
	top: 231px;
	overflow: visible;
}
#me_sabino {
	position: absolute;
	width: 414.451px;
	height: 321.168px;
	left: 0px;
	top: 21.598px;
	overflow: visible;
}
#sabino_canyon {
	position: absolute;
	width: 414.451px;
	height: 321.168px;
	left: 497.601px;
	top: 19.047px;
	overflow: visible;
}
#vatican {
	position: absolute;
	width: 289.614px;
	height: 289.614px;
	left: 293.225px;
	top: 37.376px;
	overflow: visible;
}
#linkedin_di {
	position: absolute;
	width: 313.3px;
	height: 364.365px;
	left: 819.176px;
	top: 0px;
	overflow: visible;
}
#header_dj {
	position: absolute;
	width: 1920px;
	height: 150px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_dk {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_dk {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 150px;
	left: 0px;
	top: 0px;
}
#Genesis_Benedith_dl {
	left: 174px;
	top: 41px;
	position: absolute;
	overflow: visible;
	width: 449px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Home_dm {
	left: 847px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Portfolio_dn {
	left: 1488px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 130px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: portfolio.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Contact {
	left: 1672px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Skills_dp {
	left: 1143px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: skills.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Experience_dq {
	left: 1277px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 170px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: background___experience.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#About_dr {
	left: 994px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#MDI__star-four-points {
	opacity: 0.6;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 620.75px;
	top: 782.378px;
	overflow: visible;
}
#Boundary_dt {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_dt {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Path__star-four-points {
	fill: rgba(0,0,0,1);
}
.Path__star-four-points {
	overflow: visible;
	position: absolute;
	width: 28px;
	height: 28px;
	left: 1px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#MDI__star-four-points_dv {
	opacity: 0.6;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 620.75px;
	top: 830.378px;
	overflow: visible;
}
#Boundary_dw {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_dw {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Path__star-four-points_dx {
	fill: rgba(0,0,0,1);
}
.Path__star-four-points_dx {
	overflow: visible;
	position: absolute;
	width: 28px;
	height: 28px;
	left: 1px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#MDI__star-four-points_dy {
	opacity: 0.6;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 620.75px;
	top: 922.378px;
	overflow: visible;
}
#Boundary_dz {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_dz {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Path__star-four-points_d {
	fill: rgba(0,0,0,1);
}
.Path__star-four-points_d {
	overflow: visible;
	position: absolute;
	width: 28px;
	height: 28px;
	left: 1px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#MDI__star-four-points_d {
	opacity: 0.6;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 620.75px;
	top: 970.378px;
	overflow: visible;
}
#Boundary_d {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_d {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Path__star-four-points_ea {
	fill: rgba(0,0,0,1);
}
.Path__star-four-points_ea {
	overflow: visible;
	position: absolute;
	width: 28px;
	height: 28px;
	left: 1px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#MDI__star-four-points_ea {
	opacity: 0.6;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 620.75px;
	top: 1040.262px;
	overflow: visible;
}
#Boundary_ea {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_ea {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Path__star-four-points_eb {
	fill: rgba(0,0,0,1);
}
.Path__star-four-points_eb {
	overflow: visible;
	position: absolute;
	width: 28px;
	height: 28px;
	left: 1px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#MDI__star-four-points_eb {
	opacity: 0.6;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 620.75px;
	top: 1215.46px;
	overflow: visible;
}
#Boundary_eb {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_eb {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Path__star-four-points_ec {
	fill: rgba(0,0,0,1);
}
.Path__star-four-points_ec {
	overflow: visible;
	position: absolute;
	width: 28px;
	height: 28px;
	left: 1px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#MDI__star-four-points_ec {
	opacity: 0.6;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 1048px;
	top: 1042.762px;
	overflow: visible;
}
#Boundary_ec {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_ec {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Path__star-four-points_ed {
	fill: rgba(0,0,0,1);
}
.Path__star-four-points_ed {
	overflow: visible;
	position: absolute;
	width: 28px;
	height: 28px;
	left: 1px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#MDI__star-four-points_ed {
	opacity: 0.6;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 620.75px;
	top: 1088.262px;
	overflow: visible;
}
#Boundary_ee {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_ee {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Path__star-four-points_ef {
	fill: rgba(0,0,0,1);
}
.Path__star-four-points_ef {
	overflow: visible;
	position: absolute;
	width: 28px;
	height: 28px;
	left: 1px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#MDI__star-four-points_eg {
	opacity: 0.6;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 620.75px;
	top: 1263.46px;
	overflow: visible;
}
#Boundary_eh {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_eh {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Path__star-four-points_ei {
	fill: rgba(0,0,0,1);
}
.Path__star-four-points_ei {
	overflow: visible;
	position: absolute;
	width: 28px;
	height: 28px;
	left: 1px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#MDI__star-four-points_ej {
	opacity: 0.6;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 1048px;
	top: 1090.762px;
	overflow: visible;
}
#Boundary_ek {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_ek {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Path__star-four-points_el {
	fill: rgba(0,0,0,1);
}
.Path__star-four-points_el {
	overflow: visible;
	position: absolute;
	width: 28px;
	height: 28px;
	left: 1px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#MDI__star-four-points_em {
	opacity: 0.6;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 620.75px;
	top: 1136.262px;
	overflow: visible;
}
#Boundary_en {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_en {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Path__star-four-points_eo {
	fill: rgba(0,0,0,1);
}
.Path__star-four-points_eo {
	overflow: visible;
	position: absolute;
	width: 28px;
	height: 28px;
	left: 1px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#MDI__star-four-points_ep {
	opacity: 0.6;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 620.75px;
	top: 1311.46px;
	overflow: visible;
}
#Boundary_eq {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_eq {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Path__star-four-points_er {
	fill: rgba(0,0,0,1);
}
.Path__star-four-points_er {
	overflow: visible;
	position: absolute;
	width: 28px;
	height: 28px;
	left: 1px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#MDI__star-four-points_es {
	opacity: 0.6;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 620.75px;
	top: 1359.46px;
	overflow: visible;
}
#Boundary_et {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_et {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Path__star-four-points_eu {
	fill: rgba(0,0,0,1);
}
.Path__star-four-points_eu {
	overflow: visible;
	position: absolute;
	width: 28px;
	height: 28px;
	left: 1px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#MDI__star-four-points_ev {
	opacity: 0.6;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 620.75px;
	top: 1407.46px;
	overflow: visible;
}
#Boundary_ew {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_ew {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Path__star-four-points_ex {
	fill: rgba(0,0,0,1);
}
.Path__star-four-points_ex {
	overflow: visible;
	position: absolute;
	width: 28px;
	height: 28px;
	left: 1px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#MDI__star-four-points_ey {
	opacity: 0.6;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 1048px;
	top: 1138.762px;
	overflow: visible;
}
#Boundary_ez {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_ez {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Path__star-four-points_e {
	fill: rgba(0,0,0,1);
}
.Path__star-four-points_e {
	overflow: visible;
	position: absolute;
	width: 28px;
	height: 28px;
	left: 1px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}