.mediaViewInfo {
	--web-view-name: background - experience;
	--web-view-id: background_-_experience;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: background_-_experience;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#background_-_experience {
	position: absolute;
	width: 1920px;
	height: 1636px;
	background-color: rgba(244,244,244,1);
	overflow: hidden;
	--web-view-name: background - experience;
	--web-view-id: background_-_experience;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
#back_pics_my {
	position: absolute;
	width: 1577.741px;
	height: 505.003px;
	left: 172.135px;
	top: 1182.131px;
	display: none;
	overflow: visible;
}
#bloomberg_mz {
	position: absolute;
	width: 544.562px;
	height: 440.053px;
	left: 0px;
	top: 32.16px;
	overflow: visible;
}
#dc_lincoln_m {
	position: absolute;
	width: 395.88px;
	height: 379.813px;
	left: 400.406px;
	top: 76.986px;
	overflow: visible;
}
#trevi_rome_m {
	position: absolute;
	width: 544.562px;
	height: 440.053px;
	left: 712.488px;
	top: 16.746px;
	overflow: visible;
}
#build_day_m {
	position: absolute;
	width: 426.176px;
	height: 504.373px;
	left: 1149.596px;
	top: 0px;
	overflow: visible;
}
#experience {
	position: absolute;
	width: 1074px;
	height: 1273px;
	left: 423px;
	top: 231px;
	overflow: visible;
}
#Background_m {
	left: 351px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 407px;
	height: 84px;
	line-height: 108px;
	margin-top: -24px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#My_Journey_m {
	left: 455px;
	top: 97px;
	position: absolute;
	overflow: visible;
	width: 200px;
	height: 43px;
	line-height: 108px;
	margin-top: -39px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(127,139,175,1);
}
#Group_11 {
	position: absolute;
	width: 293px;
	height: 56px;
	left: 233px;
	top: 212px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: background___education.html;
	cursor: pointer;
}
#Education_m {
	left: 75px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 219px;
	height: 49px;
	line-height: 108px;
	margin-top: -36.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(0,0,0,1);
}
#MDI__school-outline_m {
	position: absolute;
	width: 56px;
	height: 56px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Boundary_m {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_m {
	position: absolute;
	overflow: visible;
	width: 56px;
	height: 56px;
	left: 0px;
	top: 0px;
}
#Path__school-outline_na {
	fill: rgba(0,0,0,1);
}
.Path__school-outline_na {
	overflow: visible;
	position: absolute;
	width: 54.474px;
	height: 50.473px;
	left: 0px;
	top: 2.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_12 {
	position: absolute;
	width: 298px;
	height: 54px;
	left: 577px;
	top: 214px;
	overflow: visible;
}
#Experience_nc {
	left: 75px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 224px;
	height: 49px;
	line-height: 108px;
	margin-top: -36.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(127,139,175,1);
}
#MDI__briefcase-outline_nd {
	position: absolute;
	width: 54px;
	height: 54px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Boundary_ne {
	opacity: 0;
	fill: rgba(127,139,175,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_ne {
	position: absolute;
	overflow: visible;
	width: 54px;
	height: 54px;
	left: 0px;
	top: 0px;
}
#Path__briefcase-outline_nf {
	fill: rgba(127,139,175,1);
}
.Path__briefcase-outline_nf {
	overflow: visible;
	position: absolute;
	width: 49.605px;
	height: 48.606px;
	left: 2px;
	top: 3px;
	transform: matrix(1,0,0,1,0,0);
}
#education_ng {
	position: absolute;
	width: 1074px;
	height: 866px;
	left: 0px;
	top: 407px;
	overflow: visible;
}
#Path_1 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 750px;
	left: 554.5px;
	top: 32.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_1_ni {
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_1_ni {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 545px;
	top: 23px;
}
#Ellipse_2_nj {
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2_nj {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 545px;
	top: 217px;
}
#Ellipse_4_nk {
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4_nk {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 546px;
	top: 411px;
}
#Ellipse_5 {
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_5 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 545px;
	top: 604px;
}
#dev_2024 {
	position: absolute;
	width: 417px;
	height: 181px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#DevOpsAutomation_Engineer_Inte {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 418px;
	height: 83px;
	line-height: 40px;
	margin-top: -5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#TE_Connectivity {
	left: 0px;
	top: 83px;
	position: absolute;
	overflow: visible;
	width: 362px;
	height: 43px;
	line-height: 108px;
	margin-top: -39px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(127,139,175,1);
}
#May_-_Aug_2024 {
	left: 53px;
	top: 146px;
	position: absolute;
	overflow: visible;
	width: 212px;
	height: 35px;
	line-height: 108px;
	margin-top: -41.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(127,139,175,1);
}
#MDI__calendar-blank_nq {
	position: absolute;
	width: 34.893px;
	height: 34.893px;
	left: 0px;
	top: 146.054px;
	overflow: visible;
}
#Boundary_nr {
	opacity: 0;
	fill: rgba(127,139,175,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_nr {
	position: absolute;
	overflow: visible;
	width: 34.893px;
	height: 34.893px;
	left: 0px;
	top: 0px;
}
#Path__calendar-blank_ns {
	fill: rgba(127,139,175,1);
}
.Path__calendar-blank_ns {
	overflow: visible;
	position: absolute;
	width: 28.893px;
	height: 30.893px;
	left: 3px;
	top: 2px;
	transform: matrix(1,0,0,1,0,0);
}
#swe_cdh {
	position: absolute;
	width: 405px;
	height: 178px;
	left: 669px;
	top: 181px;
	overflow: visible;
}
#Student_Software_Developer {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 362px;
	height: 83px;
	line-height: 40px;
	margin-top: -5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#University_of_Arizona_nv {
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 406px;
	height: 43px;
	line-height: 108px;
	margin-top: -39px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(127,139,175,1);
}
#Aug_2023_-_Present {
	left: 53px;
	top: 143px;
	position: absolute;
	overflow: visible;
	width: 256px;
	height: 35px;
	line-height: 40px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(127,139,175,1);
}
#MDI__calendar-blank_nx {
	position: absolute;
	width: 34.893px;
	height: 34.893px;
	left: 0px;
	top: 143.054px;
	overflow: visible;
}
#Boundary_ny {
	opacity: 0;
	fill: rgba(127,139,175,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_ny {
	position: absolute;
	overflow: visible;
	width: 34.893px;
	height: 34.893px;
	left: 0px;
	top: 0px;
}
#Path__calendar-blank_nz {
	fill: rgba(127,139,175,1);
}
.Path__calendar-blank_nz {
	overflow: visible;
	position: absolute;
	width: 28.893px;
	height: 30.893px;
	left: 3px;
	top: 2px;
	transform: matrix(1,0,0,1,0,0);
}
#ux {
	position: absolute;
	width: 405px;
	height: 138px;
	left: 669px;
	top: 528px;
	overflow: visible;
}
#UX_Student_Assistant {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 378px;
	height: 43px;
	line-height: 40px;
	margin-top: -5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#University_of_Arizona_n {
	left: 0px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 406px;
	height: 43px;
	line-height: 108px;
	margin-top: -39px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(127,139,175,1);
}
#Jan_-_Mar_2023 {
	left: 53px;
	top: 103px;
	position: absolute;
	overflow: visible;
	width: 284px;
	height: 35px;
	line-height: 40px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(127,139,175,1);
}
#MDI__calendar-blank_n {
	position: absolute;
	width: 34.893px;
	height: 34.893px;
	left: 0px;
	top: 103.054px;
	overflow: visible;
}
#Boundary_n {
	opacity: 0;
	fill: rgba(127,139,175,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_n {
	position: absolute;
	overflow: visible;
	width: 34.893px;
	height: 34.893px;
	left: 0px;
	top: 0px;
}
#Path__calendar-blank_n {
	fill: rgba(127,139,175,1);
}
.Path__calendar-blank_n {
	overflow: visible;
	position: absolute;
	width: 28.893px;
	height: 30.893px;
	left: 3px;
	top: 2px;
	transform: matrix(1,0,0,1,0,0);
}
#swe {
	position: absolute;
	width: 405px;
	height: 138px;
	left: 6px;
	top: 728px;
	overflow: visible;
}
#Software_Engineer_Intern {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 378px;
	height: 43px;
	line-height: 40px;
	margin-top: -5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#TE_Connectivity_n {
	left: 0px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 406px;
	height: 43px;
	line-height: 108px;
	margin-top: -39px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(127,139,175,1);
}
#May_-_Aug_2022 {
	left: 53px;
	top: 103px;
	position: absolute;
	overflow: visible;
	width: 284px;
	height: 35px;
	line-height: 40px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(127,139,175,1);
}
#MDI__calendar-blank_ob {
	position: absolute;
	width: 34.893px;
	height: 34.893px;
	left: 0px;
	top: 103.054px;
	overflow: visible;
}
#Boundary_oc {
	opacity: 0;
	fill: rgba(127,139,175,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_oc {
	position: absolute;
	overflow: visible;
	width: 34.893px;
	height: 34.893px;
	left: 0px;
	top: 0px;
}
#Path__calendar-blank_od {
	fill: rgba(127,139,175,1);
}
.Path__calendar-blank_od {
	overflow: visible;
	position: absolute;
	width: 28.893px;
	height: 30.893px;
	left: 3px;
	top: 2px;
	transform: matrix(1,0,0,1,0,0);
}
#dev_2023 {
	position: absolute;
	width: 405px;
	height: 181px;
	left: 0px;
	top: 364px;
	overflow: visible;
}
#DevOpsAutomation_Engineer_Inte_of {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 362px;
	height: 83px;
	line-height: 40px;
	margin-top: -5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#TE_Connectivity_og {
	left: 0px;
	top: 83px;
	position: absolute;
	overflow: visible;
	width: 406px;
	height: 43px;
	line-height: 40px;
	margin-top: -5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(127,139,175,1);
}
#May_-_Aug_2023 {
	left: 53px;
	top: 146px;
	position: absolute;
	overflow: visible;
	width: 212px;
	height: 35px;
	line-height: 108px;
	margin-top: -41.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(127,139,175,1);
}
#MDI__calendar-blank_oi {
	position: absolute;
	width: 34.893px;
	height: 34.893px;
	left: 0px;
	top: 146.054px;
	overflow: visible;
}
#Boundary_oj {
	opacity: 0;
	fill: rgba(127,139,175,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_oj {
	position: absolute;
	overflow: visible;
	width: 34.893px;
	height: 34.893px;
	left: 0px;
	top: 0px;
}
#Path__calendar-blank_ok {
	fill: rgba(127,139,175,1);
}
.Path__calendar-blank_ok {
	overflow: visible;
	position: absolute;
	width: 28.893px;
	height: 30.893px;
	left: 3px;
	top: 2px;
	transform: matrix(1,0,0,1,0,0);
}
#header_ol {
	position: absolute;
	width: 1920px;
	height: 150px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_om {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_om {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 150px;
	left: 0px;
	top: 0px;
}
#Genesis_Benedith_on {
	left: 174px;
	top: 41px;
	position: absolute;
	overflow: visible;
	width: 449px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Home_oo {
	left: 847px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Portfolio_op {
	left: 1488px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 130px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: portfolio.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Contact_oq {
	left: 1672px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Skills_or {
	left: 1143px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: skills.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Experience_os {
	left: 1277px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 170px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#About_ot {
	left: 994px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: about.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Ellipse_6 {
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_6 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 968px;
	top: 1411px;
}