.mediaViewInfo {
	--web-view-name: background - education;
	--web-view-id: background_-_education;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: background_-_education;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#background_-_education {
	position: absolute;
	width: 1920px;
	height: 1450px;
	background-color: rgba(244,244,244,1);
	overflow: hidden;
	--web-view-name: background - education;
	--web-view-id: background_-_education;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
#back_pics_i {
	position: absolute;
	width: 1577.741px;
	height: 505.003px;
	left: 172.135px;
	top: 1182.131px;
	display: none;
	overflow: visible;
}
#bloomberg_i {
	position: absolute;
	width: 544.562px;
	height: 440.053px;
	left: 0px;
	top: 32.16px;
	overflow: visible;
}
#dc_lincoln_i {
	position: absolute;
	width: 395.88px;
	height: 379.813px;
	left: 400.406px;
	top: 76.985px;
	overflow: visible;
}
#trevi_rome_ja {
	position: absolute;
	width: 544.562px;
	height: 440.053px;
	left: 712.488px;
	top: 16.746px;
	overflow: visible;
}
#build_day_jb {
	position: absolute;
	width: 426.176px;
	height: 504.373px;
	left: 1149.596px;
	top: 0px;
	overflow: visible;
}
#Background {
	left: 774px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 407px;
	height: 84px;
	line-height: 108px;
	margin-top: -24px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#My_Journey {
	left: 878px;
	top: 328px;
	position: absolute;
	overflow: visible;
	width: 200px;
	height: 43px;
	line-height: 108px;
	margin-top: -39px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(127,139,175,1);
}
#Group_7 {
	position: absolute;
	width: 293px;
	height: 56px;
	left: 656px;
	top: 443px;
	overflow: visible;
}
#Education {
	left: 75px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 219px;
	height: 49px;
	line-height: 108px;
	margin-top: -36.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(127,139,175,1);
}
#MDI__school-outline {
	position: absolute;
	width: 56px;
	height: 56px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Boundary_jh {
	opacity: 0;
	fill: rgba(127,139,175,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_jh {
	position: absolute;
	overflow: visible;
	width: 56px;
	height: 56px;
	left: 0px;
	top: 0px;
}
#Path__school-outline {
	fill: rgba(127,139,175,1);
}
.Path__school-outline {
	overflow: visible;
	position: absolute;
	width: 54.474px;
	height: 50.473px;
	left: 0px;
	top: 2.763px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_8 {
	position: absolute;
	width: 298px;
	height: 54px;
	left: 1000px;
	top: 445px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: background___experience.html;
	cursor: pointer;
}
#Experience_jk {
	left: 75px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 224px;
	height: 49px;
	line-height: 108px;
	margin-top: -36.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(0,0,0,1);
}
#MDI__briefcase-outline {
	position: absolute;
	width: 54px;
	height: 54px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Boundary_jm {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_jm {
	position: absolute;
	overflow: visible;
	width: 54px;
	height: 54px;
	left: 0px;
	top: 0px;
}
#Path__briefcase-outline {
	fill: rgba(0,0,0,1);
}
.Path__briefcase-outline {
	overflow: visible;
	position: absolute;
	width: 49.605px;
	height: 48.606px;
	left: 2px;
	top: 3px;
	transform: matrix(1,0,0,1,0,0);
}
#education {
	position: absolute;
	width: 1072px;
	height: 545px;
	left: 423px;
	top: 638px;
	overflow: visible;
}
#BS_Computer_Science {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 362px;
	height: 43px;
	line-height: 108px;
	margin-top: -39px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#AA_Liberal_Arts {
	left: 669px;
	top: 185px;
	position: absolute;
	overflow: visible;
	width: 362px;
	height: 43px;
	line-height: 108px;
	margin-top: -39px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#High_School {
	left: 0px;
	top: 335px;
	position: absolute;
	overflow: visible;
	width: 362px;
	height: 43px;
	line-height: 108px;
	margin-top: -39px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#University_of_Arizona {
	left: 0px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 362px;
	height: 43px;
	line-height: 108px;
	margin-top: -39px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(127,139,175,1);
}
#Tucson_AZ {
	left: 0px;
	top: 87px;
	position: absolute;
	overflow: visible;
	width: 362px;
	height: 35px;
	line-height: 108px;
	margin-top: -41.5px;
	text-align: left;
	font-family: Poppins;
	font-style: italic;
	font-weight: normal;
	font-size: 25px;
	color: rgba(127,139,175,1);
}
#n_022-Present {
	left: 53px;
	top: 135px;
	position: absolute;
	overflow: visible;
	width: 212px;
	height: 35px;
	line-height: 108px;
	margin-top: -41.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Line_1 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 473px;
	left: 554.5px;
	top: 32.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_1 {
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 545px;
	top: 23px;
}
#Ellipse_2 {
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 544px;
	top: 255px;
}
#Ellipse_4 {
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 545px;
	top: 496px;
}
#MDI__calendar-blank {
	position: absolute;
	width: 34.893px;
	height: 34.893px;
	left: 0px;
	top: 135.054px;
	overflow: visible;
}
#Boundary_j {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_j {
	position: absolute;
	overflow: visible;
	width: 34.893px;
	height: 34.893px;
	left: 0px;
	top: 0px;
}
#Path__calendar-blank {
	fill: rgba(0,0,0,1);
}
.Path__calendar-blank {
	overflow: visible;
	position: absolute;
	width: 28.893px;
	height: 30.893px;
	left: 3px;
	top: 2px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_13 {
	position: absolute;
	width: 403px;
	height: 127px;
	left: 669px;
	top: 228px;
	overflow: visible;
}
#Pima_Community_College {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 404px;
	height: 43px;
	line-height: 108px;
	margin-top: -39px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(127,139,175,1);
}
#Tucson_AZ_j {
	left: 0px;
	top: 44px;
	position: absolute;
	overflow: visible;
	width: 362px;
	height: 35px;
	line-height: 108px;
	margin-top: -41.5px;
	text-align: left;
	font-family: Poppins;
	font-style: italic;
	font-weight: normal;
	font-size: 25px;
	color: rgba(127,139,175,1);
}
#n_020-2022 {
	left: 53px;
	top: 92px;
	position: absolute;
	overflow: visible;
	width: 212px;
	height: 35px;
	line-height: 108px;
	margin-top: -41.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#MDI__calendar-blank_j {
	position: absolute;
	width: 34.893px;
	height: 34.893px;
	left: 0px;
	top: 92.054px;
	overflow: visible;
}
#Boundary_ka {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_ka {
	position: absolute;
	overflow: visible;
	width: 34.893px;
	height: 34.893px;
	left: 0px;
	top: 0px;
}
#Path__calendar-blank_j {
	fill: rgba(0,0,0,1);
}
.Path__calendar-blank_j {
	overflow: visible;
	position: absolute;
	width: 28.893px;
	height: 30.893px;
	left: 3px;
	top: 2px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_14 {
	position: absolute;
	width: 403px;
	height: 166px;
	left: 0px;
	top: 379px;
	overflow: visible;
}
#Hebert_H_Lehman_Educational_Ca {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 404px;
	height: 83px;
	line-height: 40px;
	margin-top: -5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(127,139,175,1);
}
#Bronx_NY {
	left: 0px;
	top: 83px;
	position: absolute;
	overflow: visible;
	width: 362px;
	height: 35px;
	line-height: 108px;
	margin-top: -41.5px;
	text-align: left;
	font-family: Poppins;
	font-style: italic;
	font-weight: normal;
	font-size: 25px;
	color: rgba(127,139,175,1);
}
#n_013-2017 {
	left: 53px;
	top: 131px;
	position: absolute;
	overflow: visible;
	width: 212px;
	height: 35px;
	line-height: 108px;
	margin-top: -41.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#MDI__calendar-blank_kd {
	position: absolute;
	width: 34.893px;
	height: 34.893px;
	left: 0px;
	top: 131.054px;
	overflow: visible;
}
#Boundary_ke {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_ke {
	position: absolute;
	overflow: visible;
	width: 34.893px;
	height: 34.893px;
	left: 0px;
	top: 0px;
}
#Path__calendar-blank_kf {
	fill: rgba(0,0,0,1);
}
.Path__calendar-blank_kf {
	overflow: visible;
	position: absolute;
	width: 28.893px;
	height: 30.893px;
	left: 3px;
	top: 2px;
	transform: matrix(1,0,0,1,0,0);
}
#header_kg {
	position: absolute;
	width: 1920px;
	height: 150px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_kh {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_kh {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 150px;
	left: 0px;
	top: 0px;
}
#Genesis_Benedith_ki {
	left: 174px;
	top: 41px;
	position: absolute;
	overflow: visible;
	width: 449px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Home_kj {
	left: 847px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Portfolio_kk {
	left: 1488px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 130px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: portfolio.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Contact_kl {
	left: 1672px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Skills_km {
	left: 1143px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: skills.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Experience_kn {
	left: 1277px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 170px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: background___experience.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#About_ko {
	left: 994px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: about.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}