.mediaViewInfo {
	--web-view-name: index;
	--web-view-id: index;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: index;
}
#contact {
    width: 100%; /* Instead of a fixed width */
}

.Rectangle_24 {
    width: 100%; /* Make the rectangle fill the width of its container */
    height: auto; /* Adjust height automatically */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#index {
	position: absolute;
	width: 1920px;
	height: 3300px;
	background-color: rgba(244,244,244,1);
	overflow: hidden;
	--web-view-name: index;
	--web-view-id: index;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
#resume {
	position: absolute;
	width: 292px;
	height: 68px;
	left: 200px;
	top: 932px;
	overflow: visible;
}
#Rectangle_1 {
	fill: rgba(0,0,0,1);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 292px;
	height: 68px;
	left: 0px;
	top: 0px;
}
#Download_My_Resume {
	left: 33px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 227px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -2px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}
#my_pic {
	position: absolute;
	width: 516px;
	height: 740px;
	left: 1161px;
	top: 231px;
	overflow: visible;
}
#Genesis_Benedith-HSI-1530jpg {
	position: absolute;
	width: 464.418px;
	height: 691.079px;
	left: 24.582px;
	top: 24.46px;
	overflow: visible;
}
#Genesis_Benedith-HSI-1530jpg_t {
	fill: transparent;
	stroke: rgba(127,139,175,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Genesis_Benedith-HSI-1530jpg_t {
	overflow: visible;
	position: absolute;
	width: 516px;
	height: 740px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Software_engineer_and_user_exp {
	left: 200px;
	top: 352px;
	position: absolute;
	overflow: visible;
	width: 761px;
	height: 317px;
	line-height: 108px;
	margin-top: -18px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 72px;
	color: rgba(0,0,0,1);
}
#Hi_there_Im_Genesis_I_am_a_ris {
	left: 200px;
	top: 706px;
	position: absolute;
	overflow: visible;
	width: 761px;
	height: 189px;
	line-height: 48px;
	margin-top: -8px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#blog {
	position: absolute;
	width: 1268px;
	height: 351px;
	left: 326px;
	top: 1963px;
	overflow: visible;
}
#My_Research {
	left: 570px;
	top: 99px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	line-height: 108px;
	margin-top: -39px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(127,139,175,1);
}
#Coming_in_May {
	left: 0px;
	top: 210px;
	position: absolute;
	overflow: visible;
	width: 201px;
	height: 93px;
	line-height: 48px;
	margin-top: -8px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(127,139,175,1);
}
#Decoding_the_Sims_Analysis_of_ {
	left: 426px;
	top: 210px;
	position: absolute;
	overflow: visible;
	width: 843px;
	height: 141px;
	line-height: 48px;
	margin-top: -8px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Group_9 {
	position: absolute;
	width: 385px;
	height: 84px;
	left: 473px;
	top: 0px;
	overflow: visible;
}
#Publications {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 386px;
	white-space: nowrap;
	line-height: 108px;
	margin-top: -24px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#blog_ {
	position: absolute;
	width: 1268px;
	height: 575px;
	left: 326px;
	top: 1195px;
	overflow: visible;
}
#My_Latest_Posts {
	left: 517px;
	top: 97px;
	position: absolute;
	overflow: visible;
	width: 331px;
	height: 43px;
	line-height: 108px;
	margin-top: -39px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(127,139,175,1);
}
#Group_10 {
	position: absolute;
	width: 1268px;
	height: 93px;
	left: 0px;
	top: 482px;
	overflow: visible;
}
#Feb_16_2024 {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 201px;
	height: 45px;
	line-height: 48px;
	margin-top: -8px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(127,139,175,1);
}
#Swiping_Right_on_Computer_Scie {
	left: 426px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 843px;
	height: 93px;
	line-height: 48px;
	margin-top: -8px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Mar_18_2024 {
	left: 0px;
	top: 345px;
	position: absolute;
	overflow: visible;
	width: 201px;
	height: 45px;
	line-height: 48px;
	margin-top: -8px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(127,139,175,1);
}
#UX_Techniques_Every_Computer_S {
	left: 426px;
	top: 345px;
	position: absolute;
	overflow: visible;
	width: 843px;
	height: 93px;
	line-height: 48px;
	margin-top: -8px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Apr_16_2024 {
	left: 0px;
	top: 208px;
	position: absolute;
	overflow: visible;
	width: 201px;
	height: 45px;
	line-height: 48px;
	margin-top: -8px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(127,139,175,1);
}
#The_Best_Software_Documentatio {
	left: 426px;
	top: 208px;
	position: absolute;
	overflow: visible;
	width: 843px;
	height: 93px;
	line-height: 48px;
	margin-top: -8px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Group_9_bb {
	position: absolute;
	width: 185.655px;
	height: 84px;
	left: 561px;
	top: 0px;
	overflow: visible;
}
#Blog_bc {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 147px;
	height: 84px;
	line-height: 108px;
	margin-top: -24px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#MDI__arrow-top-right {
	position: absolute;
	width: 39.655px;
	height: 39.655px;
	left: 146px;
	top: 22.172px;
	overflow: visible;
}
#Boundary {
	opacity: 0;
	fill: rgba(127,139,175,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary {
	position: absolute;
	overflow: visible;
	width: 39.655px;
	height: 39.655px;
	left: 0px;
	top: 0px;
}
#Path__arrow-top-right {
	fill: rgba(127,139,175,1);
}
.Path__arrow-top-right {
	overflow: visible;
	position: absolute;
	width: 29.655px;
	height: 29.655px;
	left: 5px;
	top: 5px;
	transform: matrix(1,0,0,1,0,0);
}
#contact {
	position: absolute;
	width: 1920px;
	height: 654px;
	left: 0px;
	top: 2507px;
	overflow: visible;
}
#Rectangle_24 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_24 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 654px;
	left: 0px;
	top: 0px;
}
#Genesis_Benedith {
	left: 174px;
	top: 69px;
	position: absolute;
	overflow: visible;
	width: 628px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Software_engineer_and_user_exp_bj {
	left: 174px;
	top: 168px;
	position: absolute;
	overflow: visible;
	width: 695px;
	height: 233px;
	line-height: 80px;
	margin-top: -14px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 52px;
	color: rgba(0,0,0,1);
}
#Line_2 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 450px;
	left: 982.5px;
	top: 102px;
	transform: matrix(1,0,0,1,0,0);
}
#contact_bl {
	position: absolute;
	width: 1534px;
	height: 507px;
	left: 174px;
	top: 69px;
	overflow: visible;
}
#github {
	position: absolute;
	width: 561px;
	height: 139px;
	left: 973px;
	top: 0px;
	overflow: visible;
}
#Rectangle_23 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_23 {
	position: absolute;
	overflow: visible;
	width: 561px;
	height: 139px;
	left: 0px;
	top: 0px;
}
#MDI__arrow-top-right_bo {
	position: absolute;
	width: 39.655px;
	height: 39.655px;
	left: 475.345px;
	top: 49.672px;
	overflow: visible;
}
#Boundary_bp {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_bp {
	position: absolute;
	overflow: visible;
	width: 39.655px;
	height: 39.655px;
	left: 0px;
	top: 0px;
}
#Path__arrow-top-right_bq {
	fill: rgba(0,0,0,1);
}
.Path__arrow-top-right_bq {
	overflow: visible;
	position: absolute;
	width: 29.655px;
	height: 29.655px;
	left: 5px;
	top: 5px;
	transform: matrix(1,0,0,1,0,0);
}
#MDI__github {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 48.414px;
	top: 49.327px;
	overflow: visible;
}
#Boundary_bs {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_bs {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Path__github {
	fill: rgba(0,0,0,1);
}
.Path__github {
	overflow: visible;
	position: absolute;
	width: 36px;
	height: 35.515px;
	left: 2px;
	top: 2px;
	transform: matrix(1,0,0,1,0,0);
}
#GitHub_bu {
	left: 110px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 235px;
	height: 43px;
	line-height: 108px;
	margin-top: -39px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#linkedin {
	position: absolute;
	width: 561px;
	height: 139px;
	left: 973px;
	top: 368px;
	overflow: visible;
}
#Rectangle_23_bw {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_23_bw {
	position: absolute;
	overflow: visible;
	width: 561px;
	height: 139px;
	left: 0px;
	top: 0px;
}
#MDI__arrow-top-right_bx {
	position: absolute;
	width: 39.655px;
	height: 39.655px;
	left: 475.345px;
	top: 49.672px;
	overflow: visible;
}
#Boundary_by {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_by {
	position: absolute;
	overflow: visible;
	width: 39.655px;
	height: 39.655px;
	left: 0px;
	top: 0px;
}
#Path__arrow-top-right_bz {
	fill: rgba(0,0,0,1);
}
.Path__arrow-top-right_bz {
	overflow: visible;
	position: absolute;
	width: 29.655px;
	height: 29.655px;
	left: 5px;
	top: 5px;
	transform: matrix(1,0,0,1,0,0);
}
#MDI__linkedin {
	opacity: 0.999;
	position: absolute;
	width: 40.677px;
	height: 40px;
	left: 48.41px;
	top: 49.5px;
	overflow: visible;
}
#Boundary_b {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_b {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0.677px;
	top: 0px;
}
#Path__linkedin {
	fill: rgba(0,0,0,1);
}
.Path__linkedin {
	overflow: visible;
	position: absolute;
	width: 34px;
	height: 34px;
	left: 0px;
	top: 3px;
	transform: matrix(1,0,0,1,0,0);
}
#LinkedIn_b {
	left: 110px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 235px;
	height: 43px;
	line-height: 108px;
	margin-top: -39px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#medium {
	position: absolute;
	width: 561px;
	height: 139px;
	left: 973px;
	top: 184px;
	overflow: visible;
}
#Rectangle_23_b {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_23_b {
	position: absolute;
	overflow: visible;
	width: 561px;
	height: 139px;
	left: 0px;
	top: 0px;
}
#MDI__arrow-top-right_b {
	position: absolute;
	width: 39.655px;
	height: 39.655px;
	left: 475.345px;
	top: 49.672px;
	overflow: visible;
}
#Boundary_ca {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_ca {
	position: absolute;
	overflow: visible;
	width: 39.655px;
	height: 39.655px;
	left: 0px;
	top: 0px;
}
#Path__arrow-top-right_b {
	fill: rgba(0,0,0,1);
}
.Path__arrow-top-right_b {
	overflow: visible;
	position: absolute;
	width: 29.655px;
	height: 29.655px;
	left: 5px;
	top: 5px;
	transform: matrix(1,0,0,1,0,0);
}
#Image_1 {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 46px;
	top: 49px;
	overflow: visible;
}
#Medium_ca {
	left: 110px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 235px;
	height: 43px;
	line-height: 108px;
	margin-top: -39px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#email {
	position: absolute;
	width: 561px;
	height: 139px;
	left: 0px;
	top: 368px;
	overflow: visible;
}
#Rectangle_23_cc {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_23_cc {
	position: absolute;
	overflow: visible;
	width: 561px;
	height: 139px;
	left: 0px;
	top: 0px;
}
#MDI__arrow-top-right_cd {
	position: absolute;
	width: 39.655px;
	height: 39.655px;
	left: 475.345px;
	top: 49.672px;
	overflow: visible;
}
#Boundary_ce {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_ce {
	position: absolute;
	overflow: visible;
	width: 39.655px;
	height: 39.655px;
	left: 0px;
	top: 0px;
}
#Path__arrow-top-right_cf {
	fill: rgba(0,0,0,1);
}
.Path__arrow-top-right_cf {
	overflow: visible;
	position: absolute;
	width: 29.655px;
	height: 29.655px;
	left: 5px;
	top: 5px;
	transform: matrix(1,0,0,1,0,0);
}
#MDI__email {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 48.414px;
	top: 49.672px;
	overflow: visible;
}
#Boundary_ch {
	opacity: 0;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_ch {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Path__email {
	fill: rgba(0,0,0,1);
}
.Path__email {
	overflow: visible;
	position: absolute;
	width: 36px;
	height: 32px;
	left: 2px;
	top: 4px;
	transform: matrix(1,0,0,1,0,0);
}
#Email_cj {
	left: 110px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 235px;
	height: 43px;
	line-height: 108px;
	margin-top: -39px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#back_pics {
	position: absolute;
	width: 1577.741px;
	height: 505.003px;
	left: 172.135px;
	top: 1182.131px;
	display: none;
	overflow: visible;
}
#bloomberg {
	position: absolute;
	width: 544.562px;
	height: 440.053px;
	left: 0px;
	top: 32.16px;
	overflow: visible;
}
#dc_lincoln {
	position: absolute;
	width: 395.88px;
	height: 379.813px;
	left: 400.405px;
	top: 76.985px;
	overflow: visible;
}
#trevi_rome {
	position: absolute;
	width: 544.562px;
	height: 440.053px;
	left: 712.487px;
	top: 16.746px;
	overflow: visible;
}
#build_day {
	position: absolute;
	width: 426.176px;
	height: 504.373px;
	left: 1149.595px;
	top: 0px;
	overflow: visible;
}
#header {
	position: absolute;
	width: 1920px;
	height: 150px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2 {
	fill: rgba(255,255,255,1);
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 150px;
	left: 0px;
	top: 0px;
}
#Genesis_Benedith_cr {
	left: 174px;
	top: 41px;
	position: absolute;
	overflow: visible;
	width: 449px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Home {
	left: 847px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Portfolio {
	left: 1488px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 130px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: portfolio.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Contact_cu {
	left: 1672px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Skills {
	left: 1143px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: skills.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Experience {
	left: 1277px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 170px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: background___experience.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#About {
	left: 994px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: about.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}