.mediaViewInfo {
	--web-view-name: portfolio – web;
	--web-view-id: portfolio__web;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: portfolio__web;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#portfolio__web {
	position: absolute;
	width: 1920px;
	height: 1500px;
	background-color: rgba(244,244,244,1);
	overflow: hidden;
	--web-view-name: portfolio – web;
	--web-view-id: portfolio__web;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
#portfolio_options_ox {
	position: absolute;
	width: 441px;
	height: 75px;
	left: 740px;
	top: 480px;
	overflow: visible;
}
#Rectangle_4_oy {
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4_oy {
	position: absolute;
	overflow: visible;
	width: 102px;
	height: 75px;
	left: 79px;
	top: 0px;
}
#All_oz {
	left: 0px;
	top: 19px;
	position: absolute;
	overflow: visible;
	width: 37px;
	height: 37px;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: portfolio.html;
	cursor: pointer;
	line-height: 108px;
	margin-top: -40.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(0,0,0,1);
}
#Web_o {
	left: 99px;
	top: 19px;
	position: absolute;
	overflow: visible;
	width: 63px;
	height: 37px;
	line-height: 108px;
	margin-top: -40.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#App_o {
	left: 224px;
	top: 19px;
	position: absolute;
	overflow: visible;
	width: 61px;
	height: 37px;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: portfolio___app.html;
	cursor: pointer;
	line-height: 108px;
	margin-top: -40.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(0,0,0,1);
}
#Notion_o {
	left: 347px;
	top: 19px;
	position: absolute;
	overflow: visible;
	width: 95px;
	height: 37px;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: portfolio___notion.html;
	cursor: pointer;
	line-height: 108px;
	margin-top: -40.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(0,0,0,1);
}
#Portfolio_o {
	left: 820px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 282px;
	height: 84px;
	line-height: 108px;
	margin-top: -24px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#Most_Recent_Projects_o {
	left: 792px;
	top: 328px;
	position: absolute;
	overflow: visible;
	width: 338px;
	height: 43px;
	line-height: 108px;
	margin-top: -39px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(127,139,175,1);
}
#chatty_o {
	position: absolute;
	width: 610px;
	height: 635px;
	left: 988px;
	top: 649px;
	overflow: visible;
}
#Rectangle_14_o {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_14_o {
	position: absolute;
	overflow: visible;
	width: 610px;
	height: 635px;
	left: 0px;
	top: 0px;
}
#n_5fc570ef6d77a62769be7245349c_o {
	position: absolute;
	width: 504px;
	height: 240px;
	left: 53px;
	top: 45px;
	overflow: visible;
}
#Live_Chat_Website_o {
	left: 53px;
	top: 330px;
	position: absolute;
	overflow: visible;
	width: 445px;
	height: 43px;
	line-height: 108px;
	margin-top: -39px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#HTMLCSS_JavaScript_Mongoose_Ex_o {
	left: 53px;
	top: 373px;
	position: absolute;
	overflow: visible;
	width: 505px;
	height: 123px;
	line-height: 40px;
	margin-top: -5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(127,139,175,1);
}
#chatty_demo_pa {
	position: absolute;
	width: 114.84px;
	height: 35px;
	left: 53px;
	top: 541px;
	overflow: visible;
}
#Demo_pb {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 35px;
	line-height: 40px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(127,139,175,1);
}
#MDI__arrow-right_pc {
	position: absolute;
	width: 35px;
	height: 28px;
	left: 79.84px;
	top: 2.5px;
	overflow: visible;
}
#Boundary_pd {
	opacity: 0;
	fill: rgba(127,139,175,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_pd {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
#Path__arrow-right_pe {
	fill: rgba(127,139,175,1);
}
.Path__arrow-right_pe {
	overflow: visible;
	position: absolute;
	width: 19.84px;
	height: 19.84px;
	left: 15.16px;
	top: 5px;
	transform: matrix(1,0,0,1,0,0);
}
#hivescript_pf {
	position: absolute;
	width: 610px;
	height: 636px;
	left: 268px;
	top: 649px;
	overflow: visible;
}
#Rectangle_10_pg {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10_pg {
	position: absolute;
	overflow: visible;
	width: 610px;
	height: 636px;
	left: 0px;
	top: 0px;
}
#irvan-smith-cwqG1N1AtI0-unspla_ph {
	position: absolute;
	width: 504px;
	height: 240px;
	left: 53px;
	top: 45px;
	overflow: visible;
}
#Collab_Code_Editor_pi {
	left: 53px;
	top: 330px;
	position: absolute;
	overflow: visible;
	width: 445px;
	height: 43px;
	line-height: 108px;
	margin-top: -39px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#HTMLCSS_JavaScript_Mongoose_Ex_pj {
	left: 53px;
	top: 373px;
	position: absolute;
	overflow: visible;
	width: 505px;
	height: 123px;
	line-height: 40px;
	margin-top: -5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(127,139,175,1);
}
#hivescript_demo_pk {
	position: absolute;
	width: 119px;
	height: 35px;
	left: 53px;
	top: 541px;
	overflow: visible;
}
#Demo_pl {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 35px;
	line-height: 40px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(127,139,175,1);
}
#MDI__arrow-right_pm {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 91px;
	top: 3.5px;
	overflow: visible;
}
#Boundary_pn {
	opacity: 0;
	fill: rgba(127,139,175,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_pn {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
#Path__arrow-right_po {
	fill: rgba(127,139,175,1);
}
.Path__arrow-right_po {
	overflow: visible;
	position: absolute;
	width: 19.84px;
	height: 19.84px;
	left: 4px;
	top: 4px;
	transform: matrix(1,0,0,1,0,0);
}
#header_pp {
	position: absolute;
	width: 1920px;
	height: 150px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_pq {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_pq {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 150px;
	left: 0px;
	top: 0px;
}
#Genesis_Benedith_pr {
	left: 174px;
	top: 41px;
	position: absolute;
	overflow: visible;
	width: 449px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Home_ps {
	left: 847px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Portfolio_pt {
	left: 1488px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 130px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: portfolio.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Contact_pu {
	left: 1672px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Skills_pv {
	left: 1143px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: skills.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Experience_pw {
	left: 1277px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 170px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: background___experience.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#About_px {
	left: 994px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: about.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}