.mediaViewInfo {
	--web-view-name: portfolio – notion;
	--web-view-id: portfolio__notion;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: portfolio__notion;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#portfolio__notion {
	position: absolute;
	width: 1920px;
	height: 1500px;
	background-color: rgba(244,244,244,1);
	overflow: hidden;
	--web-view-name: portfolio – notion;
	--web-view-id: portfolio__notion;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
#portfolio_options_q {
	position: absolute;
	width: 463px;
	height: 75px;
	left: 729px;
	top: 480px;
	overflow: visible;
}
#Rectangle_4_q {
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4_q {
	position: absolute;
	overflow: visible;
	width: 138px;
	height: 75px;
	left: 325px;
	top: 0px;
}
#All_q {
	left: 0px;
	top: 19px;
	position: absolute;
	overflow: visible;
	width: 37px;
	height: 37px;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: portfolio.html;
	cursor: pointer;
	line-height: 108px;
	margin-top: -40.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(0,0,0,1);
}
#Web_q {
	left: 99px;
	top: 19px;
	position: absolute;
	overflow: visible;
	width: 63px;
	height: 37px;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: portfolio___web.html;
	cursor: pointer;
	line-height: 108px;
	margin-top: -40.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(0,0,0,1);
}
#App_q {
	left: 224px;
	top: 19px;
	position: absolute;
	overflow: visible;
	width: 61px;
	height: 37px;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: portfolio___app.html;
	cursor: pointer;
	line-height: 108px;
	margin-top: -40.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(0,0,0,1);
}
#Notion_q {
	left: 347px;
	top: 19px;
	position: absolute;
	overflow: visible;
	width: 95px;
	height: 37px;
	line-height: 108px;
	margin-top: -40.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Portfolio_q {
	left: 820px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 282px;
	height: 84px;
	line-height: 108px;
	margin-top: -24px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#Most_Recent_Projects_ra {
	left: 792px;
	top: 328px;
	position: absolute;
	overflow: visible;
	width: 338px;
	height: 43px;
	line-height: 108px;
	margin-top: -39px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(127,139,175,1);
}
#academic_planner_rb {
	position: absolute;
	width: 610px;
	height: 554px;
	left: 268px;
	top: 664px;
	overflow: visible;
}
#Rectangle_16_rc {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_16_rc {
	position: absolute;
	overflow: visible;
	width: 610px;
	height: 554px;
	left: 0px;
	top: 0px;
}
#d540df97fc34328d2d48e003dd4799_rd {
	position: absolute;
	width: 504px;
	height: 240px;
	left: 53px;
	top: 45px;
	overflow: visible;
}
#Academic_Planner {
	left: 53px;
	top: 330px;
	position: absolute;
	overflow: visible;
	width: 445px;
	height: 43px;
	line-height: 108px;
	margin-top: -39px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Notion_rf {
	left: 53px;
	top: 373px;
	position: absolute;
	overflow: visible;
	width: 406px;
	height: 43px;
	line-height: 40px;
	margin-top: -5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(127,139,175,1);
}
#academic_template_rg {
	position: absolute;
	width: 159px;
	height: 35px;
	left: 53px;
	top: 456px;
	overflow: visible;
}
#Template_rh {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 132px;
	height: 35px;
	line-height: 40px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(127,139,175,1);
}
#MDI__arrow-right_ri {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 131px;
	top: 5px;
	overflow: visible;
}
#Boundary_rj {
	opacity: 0;
	fill: rgba(127,139,175,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_rj {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
#Path__arrow-right_rk {
	fill: rgba(127,139,175,1);
}
.Path__arrow-right_rk {
	overflow: visible;
	position: absolute;
	width: 19.84px;
	height: 19.84px;
	left: 4px;
	top: 4px;
	transform: matrix(1,0,0,1,0,0);
}
#goal_tracker_rl {
	position: absolute;
	width: 610px;
	height: 554px;
	left: 988px;
	top: 649px;
	overflow: visible;
}
#Rectangle_18_rm {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_18_rm {
	position: absolute;
	overflow: visible;
	width: 610px;
	height: 554px;
	left: 0px;
	top: 0px;
}
#n_dc28e39cec0b803507101746f388_rn {
	position: absolute;
	width: 504px;
	height: 240px;
	left: 53px;
	top: 45px;
	overflow: visible;
}
#Goal_Tracker {
	left: 53px;
	top: 330px;
	position: absolute;
	overflow: visible;
	width: 445px;
	height: 43px;
	line-height: 108px;
	margin-top: -39px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Notion_rp {
	left: 53px;
	top: 373px;
	position: absolute;
	overflow: visible;
	width: 406px;
	height: 43px;
	line-height: 40px;
	margin-top: -5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(127,139,175,1);
}
#goal_template_rq {
	position: absolute;
	width: 159px;
	height: 35px;
	left: 58px;
	top: 461px;
	overflow: visible;
}
#Template_rr {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 132px;
	height: 35px;
	line-height: 40px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(127,139,175,1);
}
#MDI__arrow-right_rs {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 131px;
	top: 5px;
	overflow: visible;
}
#Boundary_rt {
	opacity: 0;
	fill: rgba(127,139,175,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Boundary_rt {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
#Path__arrow-right_ru {
	fill: rgba(127,139,175,1);
}
.Path__arrow-right_ru {
	overflow: visible;
	position: absolute;
	width: 19.84px;
	height: 19.84px;
	left: 4px;
	top: 4px;
	transform: matrix(1,0,0,1,0,0);
}
#header_rv {
	position: absolute;
	width: 1920px;
	height: 150px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_rw {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_rw {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 150px;
	left: 0px;
	top: 0px;
}
#Genesis_Benedith_rx {
	left: 174px;
	top: 41px;
	position: absolute;
	overflow: visible;
	width: 449px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Home_ry {
	left: 847px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Portfolio_rz {
	left: 1488px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 130px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: portfolio.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Contact_r {
	left: 1672px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Skills_r {
	left: 1143px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: skills.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#Experience_r {
	left: 1277px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 170px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: background___experience.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}
#About_r {
	left: 994px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: about.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.1px;
}